<div class="sticky top-0">
  <app-header [iPseudo]="_pseudo" [iInscriptionSelected]=true [iProfilSelected]="false"></app-header>
</div>
<div class="grid mt-3">
  <div class="col-6">
    <div pTooltip="Retour"
         class="w-full border-round-md border-solid border-1	shadow-6 bg-blue-900 gap-2 cursor-pointer h-8rem"
         (click)="onRedirect()">
      <div *ngIf="_adhesion" class="text-50">
        <div class="grid">
          <div class="col-12">
            <p class="text-2xl font-bold"> {{ _adhesion.beginYear }} - {{ _adhesion.endYear }} </p>
          </div>
          <div class="col-12">
            <p class="text-xs	align-content-end h-4rem">
              Nombre d'adhérents : {{ _adhesion.numberAdherent }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div pTooltip="Détails de votre panier"
         class="w-full border-round-md border-solid border-1	border-blue-900 shadow-6 bg-surface gap-2 cursor-pointer h-8rem"
         (click)="onOpenBasket()">
      <div *ngIf="_adhesion" class="text-blue-900">
        <div class="grid">
          <div class="col-6">
            <p class="text-2xl font-bold">Panier </p>
          </div>
          <div class="col-6">
            <p class="text-sm text-red-900 text-right font-bold h-1rem">{{ _basketAmountTotal }} €</p>
          </div>
        </div>
        <div class="col-12">
          <p class="text-xs	align-content-end h-4rem"> Nombre d'adhérents : {{ _baskets.length }} </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6 col-offset-3 mt-3">
    <p-button
      icon="pi pi-fw pi-user"
      pTooltip="Création d'un nouvel adhérent" tooltipPosition="right"
      styleClass="w-full bg-white border-900 text-color text-sm
        hover:bg-white hover:border-400	 hover:text-color "
      label="Création adhérent"
      (click)="onOpenCreateAdherentModal()"
    ></p-button>
  </div>

  <div class="col-6 col-offset-3 mt-3">
    <p-button
      icon="pi pi-fw pi-user-plus"
      pTooltip="Inscription d'un nouvel adhérent sur la saison" tooltipPosition="right"
      styleClass="w-full bg-white border-900 text-color text-sm
        hover:bg-white hover:border-400	 hover:text-color "
      label="Inscription"
      (click)="onOpenNewInscription()"
    ></p-button>
  </div>

  <div class="col-6 col-offset-3 mt-3">
    <p-button
      icon="pi pi-fw pi-credit-card"
      pTooltip="Paiement de votre adhésion" tooltipPosition="right"
      styleClass="w-full bg-white border-900 text-color text-sm
        hover:bg-white hover:border-400	 hover:text-color "
      label="Paiement"
      (click)="onOpenPaiement()"
    ></p-button>
  </div>
</div>

<app-modal-create-adherent [iOpenModal]="_isOpenCreateAdherentModal"
                           (oNewAdherent)="onNewAdherent($event)"></app-modal-create-adherent>
<app-modal-new-basket [iModalNewBasket]="_modalNewBasket"
                      (oNewAdherentBasket)="onNewAdherentBasket($event)"></app-modal-new-basket>
<app-modal-basket *ngIf="_baskets" [iBaskets]=_baskets [iOpenModal]="_isOpenModal"
                  (oDeleteBasket)="onDeleteBasket($event)"
                  (oDeleteAllBasket)="onDeleteAllBasket($event)"
                  (oPaiementBasket)="onPaiementBasket($event)"></app-modal-basket>
<app-spinner *ngIf="_spinner" [iIsOpen]=_spinner></app-spinner>
<p-toast></p-toast>
