<div class="relative h-screen">
  <div class="absolute top-0 left-0 w-full h-full background-image"></div>
  <div class="flex justify-content-center align-items-center h-screen  z-1 relative">
    <p-card class="w-full sm:w-30rem shadow-4" header="Réinitialisation du compte">
      <form [formGroup]="_forgotPasswordForm" class="flex flex-column gap-3 p-3">
        <div class="grid">
          <div class="col-12">
            <label for="mail" class="block mb-2 font-medium text-xs">Mail pour réinitialiser le compte</label>
            <input id="mail"
                   formControlName="mail"
                   class="w-full text-xs border-blue-400 focus:border-blue-600"
                   type="text" pInputText
                   name="mail" required/>
          </div>
          <div *ngIf="_isErrorForm" class="col-12">
            <span class="text-xs text-red-700">{{ _messageError }}</span>
          </div>
          <div class="col-12 mt-2">
            <div class="grid">
              <div class="col-12 md:col-6 ">
                <p-button
                  styleClass="border-transparent mt-2 w-full bg-blue-900 border-round hover:bg-blue-800"
                  (click)="onSubmitForm()">
                  <span class="text-xs text-white font-bold">Réinitialisation compte</span>
                </p-button>
              </div>
              <div class="col-12 md:col-6">
                <p-button
                  styleClass="border-transparent mt-2 w-full bg-white border-blue-900 border-round hover:surface-ground	"
                  (click)="onCancel()">
                  <span class="text-xs text-blue-900 font-bold">Annuler</span>
                </p-button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </p-card>
  </div>
</div>
<p-toast></p-toast>
